{% extends 'base.html' %}
{% load static %}
{% block title %}
Pesanan
{% endblock title %}
{% block content %}
<div class="ml-3 mt-3">
  <h1>Form Pesanan</h1>
  {% if total %}
  <div class="modal" id="konfirmasiPesanan">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"> Konfirmasi Pemesanan </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Total pesanan anda adalah {{total}}, apakah Anda ingin melanjutkan pemesanan?
        </div>

        <!-- Modal footer -->
        {% csrf_token %}
        <div class="modal-footer">
          <button id="del-but" type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
          <button id="accept-but" type="button" class="btn btn-primary" data-dismiss="modal" onClick="createPesanan(`{{ktp}}`, {{list_barang}}, {{waktu}}, {{total}})">Ya</button>
        </div>

      </div>
    </div>
  </div>
  <script> openModal() </script>
  {% endif %}
  <form action="/pesanan/create" method="post">
     {% csrf_token %}
    <label class = "mr-4">Anggota: </label>
    {% if is_admin %}
        <input name="anggota" id="anggota" list="list-anggota"/>
        <datalist id="list-anggota">
          {% for ktp in no_ktp %}
            <option value="{{ktp.no_ktp}}"/>
          {% endfor %}
        </datalist>
    {% else %}
        <input name="anggota" id="anggota" list="list-anggota" value="{{no_ktp}}" disabled/>
    {% endif %}

    <br />
    <label class = "mr-4">Barang:</label>
    <select name="barang" id="barang" class="mt-2 custom-select" size = "2" style = "width: 175px" multiple>
      {% for bar in barang %}
      <option value="{{bar.id_barang}}"> {{bar.nama_item}} </option>
      {% endfor %}
    </select>
    <br />
    <div class ="mt-3">
      <label> Lama Sewa: </label>
      <input name="waktu" id="waktu" type="text" />
    </div>
    <br />
    {% if error %}
        <h3 class="text-danger"> {{error}}</h1>
    {% endif %}
    <input class="mt-2" type="submit" />
  </form>
</div>
{% endblock content %}
