{% extends 'base.html' %}
{% load static %}
{% block title %} Pesanan {% endblock title %}
{% block content %}
<div class="ml-3 mt-3">
  <button> <a href="/pesanan/create">Create Pesanan</a> </button>
  <h1>List Pesanan</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Daftar Barang</th>
        <th scope="col">Harga</th>
        <th scope="col">Status</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for pesanan in data %}
      <tr>
        <th scope="row">{{ pesanan.id_pemesanan }}</th>
        <td><ul>
            {% for barang in pesanan.barang %}
            <li>
                {{ barang.nama_item }}
            </li>
            {% endfor %}
        </ul></td>
        <td>{{ pesanan.harga }}</td>
        <td>{{ pesanan.status }}</td>
        <td>
            <button type="button" class = "btn btn-primary transparent-background"> <a href="/pesanan/update?id={{pesanan.id_pemesanan}}"> Update </a> </button>
        </td>
        {% if pesanan.status != "Sedang Dikonfirmasi" or is_admin%}
        <td><button type="button" class = "btn btn-primary" data-toggle="modal" data-target="#deletePesanan" onClick="deletePesanan({{pesanan.id_pemesanan}})" disabled>delete</button></td>
        {% else %}
        <td><button type="button" class = "btn btn-primary" data-toggle="modal" data-target="#deletePesanan" onClick="deletePesanan({{pesanan.id_pemesanan}})">delete</button></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
    <form action ='/pesanan/' method="get">
        <div class ="mt-3">
          <label> Filter Id: </label>
          <input name="filter" id="filter" type="text" />
        </div>
        <input class="mt-2" type="submit" />
    </form>
  </table>
  <div class="mx-auto">
      {% if not first_page %}
      <button> <a href="/pesanan?page={{prev_page}}"> Prev </a> </button>
      {% endif %}
      {% if not last_page %}
      <button> <a href="/pesanan?page={{next_page}}">  Next </a> </button>
      {% endif %}
  </div>
  <!-- The Modal -->
  <div class="modal" id="deletePesanan">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"> Konfirmasi Penghapusan </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Apakah Anda ingin menghapus pesanan?
        </div>

        <!-- Modal footer -->
        {% csrf_token %}
        <div class="modal-footer">
          <button id="del-but" type="button" class="btn btn-danger" data-dismiss="modal">Ya</button>
        </div>

      </div>
    </div>
  </div>
  {% endblock content %}
</div>
