{% extends 'base.html' %}
{% load static %}
{% block title %}
Pesanan
{% endblock title %}
{% block content %}
<div class="ml-3 mt-3">
  <h1>Form Update Pesanan</h1>
  <form action="/pesanan/update" method="post">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{id_pemesanan}}"/>
    <label class = "mr-5">Barang:</label>
    <input type = "text" value = "{{barang}}" disabled> </input>
    <br />
    <div class ="mt-1">
      <label> Lama Sewa: </label>
      <input class="ml-3" type="text" name="lama" value="{{lama}}"/>
    </div>
    <label class = "mr-4">Status: </label>
    {% if is_admin %}
        <input name="status" id="status" list="list-status" value="{{status}}"/>
    {% else %}
        <input name="status" id="status" list="list-status" value = "{{status}}" disabled/>
    {% endif %}
    <datalist id="list-status">
      {% for status in all_status %}
        <option value="{{status.nama}}"/>
      {% endfor %}
    </datalist>
    <br />
    <input class="mt-2" type="submit" />
  </form>
</div>
{% endblock content %}
