{% extends 'base.html' %}
{% load static %}
{% block title %}
Buat Pengiriman
{% endblock title %}
{% block content %}
<div class="create-pengiriman pengiriman">
  <h1>Form Pembuatan Pengiriman</h1>
  <!-- <h1>Form Update Pengiriman</h1> -->
  <form autocomplete="off" action="/pengiriman/create/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label form="id-pemesanan">ID Pemesanan</label>
      <select class="form-control" placeholder="Pilih ID Pemesanan yang ingin dikirim" name="id-pemesanan"
        id="pemesanan-id" onchange='chooseId()' required>
        {% for pms in pemesanan %}
        {% if pemesanan.0.id_pemesanan == pms.id_pemesanan %}
        <option value="{{ pms.id_pemesanan }}" selected="selected">{{ pms.id_pemesanan }} ({{ pms.kuantitas_barang }}
          barang)</option>
        {% else %}
        <option value="{{ pms.id_pemesanan }}">{{ pms.id_pemesanan }} ({{ pms.kuantitas_barang }} barang)</option>
        {% endif%}
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label form="barang-pesanan">Barang Pesanan</label>
      {% for pms in pemesanan %}
      {% if pemesanan.0.id_pemesanan == pms.id_pemesanan %}
      <div id="pms-{{ pms.id_pemesanan }}" class="barang-id">
        {% else %}
        <div id="pms-{{ pms.id_pemesanan }}" class="barang-id" style="display: none">
          {% endif%}
          {% for brg in pms.barang %}
          <div class="form-check">
            <label class="form-check-label">
              {% if brg.nama_status != 'Sedang Disiapkan' %}
              <input type="checkbox" name="urut-id" class="form-check-input"
                value="{{ brg.no_urut }}-{{ brg.id_barang}}" disabled>
              {% else %}
              <input type="checkbox" name="urut-id" class="form-check-input"
                value="{{ brg.no_urut }}-{{ brg.id_barang}}">
              {% endif %}
              {{ brg.nama_item }} ({{ brg.nama_status}})
            </label>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>

      <div class="form-group">
        <label form="alamat-tujuan">Alamat Tujuan</label>
        <select class="form-control" placeholder="Alamat Tujuan" name="alamat-tujuan" required>
          {% for alm in alamat %}
          <option value="{{ alm.nama }}">{{ alm.nama }} (Jl. {{ alm.jalan }} no. {{ alm.nomor }} Kota {{ alm.kota }},
            {{ alm.kodepos }})</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label form="tanggal-pengiriman">Tanggal Pengiriman</label>
        <input type="date" class="form-control" placeholder="Tanggal Pengiriman" name="tanggal-pengiriman" required />
      </div>

      <div class="form-group">
        <label form="metode">Metode</label>
        <input type="text" class="form-control" placeholder="Tulis Metode" name="metode" required />
      </div>

      <button type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#pengiriman-create-modal">Submit</button>

      <div id="pengiriman-create-modal" class="modal fade show" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Konfirmasi</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Harga Ongkos Pengiriman : Rp. 10.000 (Untuk semua metode)</p>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Lanjutkan</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  {% endblock content %}