{% extends 'base.html' %}
{% load static %}
{% block title %}
Buat Pengiriman
{% endblock title %}
{% block content %}
<div class="list-pengiriman pengiriman">
  <h1>Daftar Pengiriman</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No Resi</th>
        <th scope="col">Daftar Barang - ID Pemesanan</th>
        <th scope="col">Harga Total</th>
        <th scope="col">Tanggal Pengiriman</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for pengiriman in data %}
      <tr>
        <th scope="row">{{ pengiriman.no_resi }}</th>
        <td>
          <ul>
            {% for barang in pengiriman.barang %}
            <li>{{ barang.nama_item }} - {{ pengiriman.id_pemesanan }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>Rp {{ pengiriman.total }}</td>
        <td>{{ pengiriman.tanggal }}</td>
        <td>{{ pengiriman.status }}</td>
        <td>
          {% if pengiriman.status == 'Sudah dikembalikan' %}
          <a href="/review-barang/create/?resi={{ pengiriman.no_resi }}">
            <button type="button" class="btn btn-info">Tulis Review</button>
          </a>
          {% elif pengiriman.status == 'Sedang Disiapkan' %}
          <a href="/pengiriman/update/?id={{ pengiriman.id_pemesanan }}&resi={{ pengiriman.no_resi }}">
            <button type="button" class="btn btn-warning">Update</button>
          </a>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-pengiriman"
            onClick="deleteKirim('{{ pengiriman.no_resi }}')">Delete</button>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <!-- <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li> -->
      {% for i in jml_page %}

      {% if i == page %}
      <li class="page-item active">
        {% else %}
      <li class="page-item">
        {% endif %}
        <a class="page-link" href="/pengiriman/?page={{ i }}">{{ i }}</a>
      </li>
      {% endfor %}
      <!-- <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li> -->
    </ul>
  </nav>

  <div id="delete-pengiriman" class="modal fade show" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Anda Yakin Ingin Hapus Pengiriman ini?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-footer">
          <form method="post" action="/pengiriman/delete/">
            {% csrf_token %}
            <input type="hidden" name="no-resi" value="" id="pengiriman-input-resi">
            <button type="submit" class="btn btn-danger">Hapus</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Batal</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}