{% extends 'base.html' %}
{% load static %}
{% block title %}
Buat Pengiriman
{% endblock title %}
{% block content %}
<div class="create-pengiriman pengiriman">
  <h1>Form Pembuatan Pengiriman</h1>
  <form autocomplete="off" action="/pengiriman/update/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label form="barang-pesanan">Barang Pesanan</label>
      {% for brg in barang %}
      <div class="form-check">
        <label class="form-check-label">
          {% if brg.nama_status != 'Sedang Disiapkan' %}
          <input type="checkbox" name="urut-id" class="form-check-input" value="{{ brg.no_urut }}-{{ brg.id_barang}}"
            disabled>
          {% elif brg.selected %}
          <input type="checkbox" name="urut-id" class="form-check-input" value="{{ brg.no_urut }}-{{ brg.id_barang}}"
            checked>
          {% else %}
          <input type="checkbox" name="urut-id" class="form-check-input" value="{{ brg.no_urut }}-{{ brg.id_barang}}">
          {% endif %}
          {{ brg.nama_item }} ({{ brg.nama_status}})
        </label>
      </div>
      {% endfor %}
    </div>

    <div class="form-group">
      <label form="alamat-tujuan">Alamat Tujuan</label>
      <select class="form-control" placeholder="Alamat Tujuan" name="alamat-tujuan" required>
        {% for alm in alamat %}
        {% if alm.selected %}
        <option value="{{ alm.nama }}" selected="selected">{{ alm.nama }} (Jl. {{ alm.jalan }} no. {{ alm.nomor }} Kota
          {{ alm.kota }},
          {{ alm.kodepos }})</option>
        {% else %}
        <option value="{{ alm.nama }}">{{ alm.nama }} (Jl. {{ alm.jalan }} no. {{ alm.nomor }} Kota {{ alm.kota }},
          {{ alm.kodepos }})</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label form="tanggal-pengiriman">Tanggal Pengiriman</label>
      <input type="date" class="form-control" placeholder="Tanggal Pengiriman" name="tanggal-pengiriman"
        value="{{ pengiriman.tanggal }}" required />
    </div>

    <div class="form-group">
      <label form="metode">Metode</label>
      <input type="text" class="form-control" placeholder="Tulis Metode" name="metode" value="{{ pengiriman.metode }}"
        required />
    </div>

    <input type="hidden" name="id-pemesanan" value="{{ pengiriman.id_pemesanan }}">
    <input type="hidden" name="no-resi" value="{{ pengiriman.no_resi }}">

    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
{% endblock content %}