{% extends 'base.html' %}
{% load static %}
{% block title %}
Pesanan
{% endblock title %}
{% block content %}
<div class="ml-3 mt-3">
  <h1>Form Level</h1>
  <form action="/level/create" method ="post">
     {% csrf_token %}
    <label class = "mr-4">Nama Level: </label>
    <input name="level" type="text"/>
    <div>
      <label> Minimum Poin: </label>
      <input name="poin" class="ml-1" type="number" step="1"/>
    </div>
    <div >
      <label> Deskripsi: </label>
      <input name="deskripsi" class="ml-4" type="text" />
    </div>
    <input class="mt-2" type="submit" />
  </form>
</div>
{% endblock content %}
