{% extends 'base.html' %}
{% load static %}
{% block title %} Pesanan {% endblock title %}
{% block content %}
<div class="ml-3 mt-3">
  <h1>List Level</h1>
  <Button> <a href="/level/create"> Buat Level </a></Button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Nama Level</th>
        <th scope="col">Deskripsi</th>
        <th scope="col">Minimum Poin</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for level in levels %}
      <tr>
        <th scope="row"> {{ level.no }}</th>
        <td>{{ level.nama_level }}</td>
        <td>{{ level.deskripsi }}</td>
        <td>{{ level.minimum_poin }}</td>
        <td>
            <button type="button" class = "btn btn-primary transparent-background"> <a href="/level/update?level={{level.nama_level}}">Update </a></button>
        </td>
        <td><button type="button" class = "btn btn-primary" data-toggle="modal" data-target="#deleteLevel" onClick="deleteLevel(`{{level.nama_level}}`)">Delete</button></td>
      </div>
      {% endfor %}
    </tbody>
  </table>
</tr>
<!-- The Modal -->
<div class="modal" id="deleteLevel">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"> Konfirmasi Penghapusan </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Apakah Anda ingin menghapus level?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
          {% csrf_token %}
          <button type="button" class="btn btn-primary" data-dismiss="modal">Tidak</button>
         <button id="del-level" type="button" class="btn btn-danger" data-dismiss="modal">Ya</button>
      </div>

    </div>
  </div>
  {% endblock content %}
</div>
