#chat-panel {
  height: 400px;
  width: 400px;
  border: 1px solid gray;
  padding: 5px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.chat-admin {
  color: blue;
}

.chat-non-admin {
  color: green;
}
