.review-barang {
  max-width: 800px;
  margin: 0 auto;
}

.review-barang table button {
  display: block;
  margin: 8px 0;
}

.review-barang {
  justify-content: center;
}

.modal {
  background: rgba(0, 0, 0, 0.3);
}
