{% extends 'base.html' %}
{% load static %}
{% block title %}
Buat Pengiriman
{% endblock title %}
{% block content %}
<div class="review-barang">
  <h1>Form Tulis Review</h1>
  <form action="/review-barang/create/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label form="barang-pesanan">Barang</label>
      <select class="form-control" placeholder="Pilih Barang" name="barang-pesanan" required>
        {% for barang in data %}
        <option value='{{ barang.no_urut }}'>{{ barang.nama_item }}</option>
        {% endfor %}
      </select>
    </div>

    <input type="hidden" name="resi" value='{{ resi }}'>

    <div class="form-group">
      <label form="review">Review</label>
      <textarea name="review" placeholder="Tulis Review" class="form-control" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
{% endblock content %}