{% extends 'base.html' %}
{% load static %}
{% block title %}
Buat Pengiriman
{% endblock title %}
{% block content %}
<div class="review-barang">
  <h1>Review Barang</h1>
  {% if is_admin %}
  {% else %}
  <a href="/pengiriman/">
    <button type="button" class="btn btn-primary">Buat Review Di Pengiriman</button>
  </a>
  {% endif %}

  {% if is_empty %}
  <h2>Belum ada review</h2>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID Pengiriman</th>
        <th scope="col">Barang</th>
        <th scope="col">Review</th>
        <th scope="col">Tanggal Review</th>
        {% if is_admin %}
        <th scope="col">Nama Anggota</th>
        {% else %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for data in review %}
      <tr>
        <th scope="row">{{ data.id_pemesanan }}</th>
        <td>{{ data.nama_item }}</td>
        <td>{{ data.review }}</td>
        <td>{{ data.tanggal_review }}</td>
        {% if is_admin %}
        <td>{{ data.nama_lengkap }}</td>
        {% else %}
        <td>
          {% if data.review == '' %}
          <a href="/review-barang/create/?resi={{ data.no_resi }}&urut={{ data.no_urut }}">
            <button type="button" class="btn btn-primary">Review</button>
          </a>
          {% else %}
          <a href="/review-barang/update/?resi={{ data.no_resi }}&urut={{ data.no_urut }}">
            <button type="button" class="btn btn-warning">Update</button>
          </a>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#review-barang-modal"
            onclick="deleteClick('{{ data.no_resi }}', '{{ data.no_urut }}')">Delete</button>
          {% endif %}
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <!-- <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li> -->
      {% for i in jml_page %}

      {% if i == page %}
      <li class="page-item active">
        {% else %}
      <li class="page-item">
        {% endif %}
        <a class="page-link" href="/review-barang/?page={{ i }}">{{ i }}</a>
      </li>
      {% endfor %}
      <!-- <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li> -->
    </ul>
  </nav>

  <div id="review-barang-modal" class="modal fade show" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Anda Yakin Ingin Hapus Review Ini?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-footer">
          <form method="post" action="/review-barang/delete/">
            {% csrf_token %}
            <input type="hidden" name="no-resi" value="" id="review-input-resi">
            <input type="hidden" name="no-urut" value="" id="review-input-urut">
            <button type="submit" class="btn btn-danger">Hapus</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Batal</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}