{% extends 'base.html' %}
{% load static %}
{% block title %}
Buat Pengiriman
{% endblock title %}
{% block content %}
<div class="review-barang">
  <h1>Form Update Review</h1>
  <form method="post" action="/review-barang/update/">
    {% csrf_token %}
    <div class="form-group">
      <label form="barang-pesanan">Barang</label>
      <input type="text" class="form-control" name="nama-barang" value="{{ nama_item }}" required disabled>
    </div>

    <div class="form-group">
      <label form="review">Review</label>
      <textarea name="review" placeholder="Tulis Review" class="form-control" required>{{ review }}</textarea>
    </div>

    <input type="hidden" name="resi" value="{{ no_resi }}">
    <input type="hidden" name="urut" value="{{ no_urut }}">

    <button type="submit" class="btn btn-primary">Update</button>
  </form>

</div>
{% endblock content %}