{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container" style="margin-top: 30px; width: 100%;%">
    <div style="margin: auto; width: fit-content;">
        <h2 style="margin: auto; width: fit-content; margin-bottom: 20px;"><b>Detail Barang</b></h2>   
        <div style="display: flex; flex-direction: row;">
            <div class="card">
                <div class="card-body">
                    <table>
                        <tr>
                            <td style="width: 150px;">Id barang</td>
                            <td><input type="text" class="form-control" value="{{data.id_barang}}" disabled/></td>
                        </tr>
                        <tr>
                            <td>Nama item</td>
                            <td><input type="text" class="form-control" value="{{data.nama_item}}" disabled/></td>
                        </tr>
                        <tr>
                            <td>Warna</td>
                            <td><input type="text" class="form-control" value="{{data.warna}}" disabled/></td>
                        </tr>
                        <tr>
                            <td>Url foto</td>
                            <td><input type="text" class="form-control" value="{{data.url_foto}}" disabled/></td>
                        </tr>
                        <tr>
                            <td>Kondisi</td>
                            <td><input type="text" class="form-control" value="{{data.kondisi}}" disabled/></td>
                        </tr>
                        <tr>
                            <td>Lama penggunaan</td>
                            <td><input type="text" class="form-control" value="{{data.lama_penggunaan}} bulan" disabled/></td>
                        </tr>
                        <tr>
                            <td>Pemilik/penyewa</td>
                            <td><input type="text" class="form-control" value="{{data.nama_lengkap}}" disabled/></td>
                        </tr>
                    </table>
                </div> 
            </div>
            <div class="card" style="margin-left: 20px;">
                <div class="card-body">
                    <h3>Info Barang</h3>
                    <table>
                        {% for info in info_barang %}
                        <tr>
                            <td style="width: 200px;"><b>{{info.nama_level}}</b></td>
                        </tr>
                        <tr>
                            <td>Persen royalty</td>
                            <td><input type="text" class="form-control" value="{{info.porsi_royalti}} %" disabled/></td>
                        </tr>
                        <tr>
                            <td>Harga sewa</td>
                            <td><input type="text" class="form-control" value="Rp. {{info.harga_sewa}} /minggu" disabled/></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div style="width: fit-content; margin: auto; margin-top: 40px;">
            <a href="/review-barang/" class="btn btn-lg btn-warning">Lihat Review</a>
            <button class="btn btn-lg btn-success">Pesan</button>
            <a class="btn btn-lg btn-secondary" href="/barang/">Back</a>
        </div>
    </div>
</div>

{% endblock %}
