{% extends 'base.html' %} {% load static %} {% block content %}

<form action="/barang/add/" method="POST">
{% csrf_token %}
<div class="container" style="margin-top: 30px; width: 100%;%">
    <div style="margin: auto; width: fit-content;">
        <h2 style="margin: auto; width: fit-content; margin-bottom: 20px;"><b>Membuat Barang Baru</b></h2>   
        <div style="display: flex; flex-direction: row;">
            <div class="card">
                <div class="card-body">
                    <table>
                        <tr>
                            <td style="width: 150px;">Id barang</td>
                            <td><input type="text" class="form-control" name="id_barang" value="{{next_id}}"/></td>
                        </tr>
                        <tr>
                            <td>Nama item</td>
                            <td>
                                <select name="nama_item" class="form-control">
                                    {% for nama in nama_item %}
                                    <option value="{{nama}}">{{nama}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Warna</td>
                            <td><input type="text" name="warna" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>Url foto</td>
                            <td><input type="text" name="url_foto" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>Kondisi</td>
                            <td><input type="text" name="kondisi" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>Lama penggunaan (bulan)</td>
                            <td><input type="text" name="lama_penggunaan" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>Pemilik/penyewa</td>
                            <td>
                                <select class="form-control" name="no_ktp_penyewa">
                                    {% for anggota in daftar_anggota %}
                                    <option value="{{anggota.no_ktp}}">{{anggota.nama_lengkap}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </table>
                </div> 
            </div>
            <div class="card" style="margin-left: 20px;">
                <div class="card-body">
                    <h3>Info Barang</h3>
                    <table>
                        {% for level in level_keanggotaan %}
                        <tr>
                            <td style="width: 200px;"><b>{{level}}</b></td>
                        </tr>
                        <tr>
                            <td>Persen royalty (%) </td>
                            <td><input type="text" class="form-control" name="{{level}}_porsi_royalti"/></td>
                        </tr>
                        <tr>
                            <td>Harga sewa (Rupiah/minggu)</td>
                            <td><input type="text" class="form-control" name="{{level}}_harga_sewa"/></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div style="width: fit-content; margin: auto; margin-top: 40px;">
            <input type="submit" class="btn btn-lg btn-primary" value="Save">
            <a class="btn btn-lg btn-secondary" href="/barang/">Back</a>
        </div>
    </div>
</div>
</form>

{% endblock %}
