{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container" style="margin-top: 30px; width: 100%;%">
  <div style="margin: auto; width: fit-content;">

<h2 style="margin-bottom: 20px;">Daftar Barang {% if is_admin %} <a class="btn btn-primary" href="/barang/add">Create new</a>{% endif %}    </h2>      
  <div style="display: flex; flex-direction: row; margin-bottom: 20px;">
    {% if search_nama %}
      <a href="/barang/">X</a>
    {% endif %}
    <input type="text" id="search_nama" class="form-control" style="width: 200px; margin-left: 10px;" placeholder="Nama barang yang dicari ..." value="{{search_nama}}"/>
    <button type="submit" class="btn btn-xs btn-primary" onclick="searchByNama()"/>Search</button>
  </div>
  {% if all_barang|length %}
  <table class="table table-bordered">
    <thead>
      <tr style="text-align: center;">
        <th>
          Id
          {% if order_by == 'id' %}
            {% if order_method == 'ASC' %}
              <a href="/barang/?order_by=id&order_method=DESC">▼</a>
            {% else %}
              <a href="/barang/?order_by=id&order_method=ASC">▲</a>
            {% endif %}
          {% else %}
            <a style="color: gray;" href="/barang/?order_by=id&order_method=ASC">▼</a>
          {% endif %}
        </th>
        <th>Nama
          {% if order_by == 'nama' %}
            {% if order_method == 'ASC' %}
              <a href="/barang/?order_by=nama&order_method=DESC">▼</a>
            {% else %}
              <a href="/barang/?order_by=nama&order_method=ASC">▲</a>
            {% endif %}
          {% else %}
            <a style="color: gray;" href="/barang/?order_by=nama&order_method=ASC">▼</a>
          {% endif %}
        </th>
        <th>Warna</th>
        <th>Kondisi</th>
        <th>Action</th>
        {% if not is_admin %}
        <th>Select</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for barang in all_barang %}
      <tr>
        <td>{{barang.id}}</td>
        <td>{{barang.nama}}</td>
        <td>{{barang.warna}}</td>
        <td>{{barang.kondisi}}</td>
        <td>
          <a class="btn btn-secondary" href="/barang/detail/?id={{barang.id}}">
            Lihat Detail
          </a>
          {% if is_admin %}
          <a class="btn btn-warning" href="/barang/edit/?id={{barang.id}}">
            Update
          </a>
          <button class="btn btn-danger" onclick="deleteOn({{barang.id}})" data-toggle="modal" data-target="#myModal">
            Delete
          </button>
          {% endif %}
        </td>
        {% if not is_admin %}
        <td>
          <div style="margin: auto; width: fit-content;">
            <input type="checkbox"></input>
          </div>
        </td>
        {% endif %}
      </tr> 
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    Barang tidak ada
  {% endif %}
  <ul class="pagination">
    {% if page > 1 %}
      <li class="page-item"><a class="page-link" href="/barang/?page={{ page|add:"-1" }}">Previous</a></li>
    {% endif %}
    {% for i in pages %}
      {% if i == page %}
        <li class="page-item"><a class="page-link" href="/barang/?page={{i}}"><b style="color: blue;">{{i}}</b></a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="/barang/?page={{i}}">{{i}}</a></li>
      {% endif %}
    {% endfor %}
    {% if page < pages|length %}
      <li class="page-item"><a class="page-link" href="/barang/?page={{ page|add:"1" }}">Next</a></li>
    {% endif %}
  </ul>
  </div>
</div>
</div>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Konfirmasi</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Apakah anda yakin ingin menghapus data ini?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <form action="/barang/delete/" method="POST">
          {% csrf_token %}
          <input type="hidden" value="" id="deleteId" name="deleteId"/>
          <input type="submit" class="btn btn-danger" value="Iya"/>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
        </form>
      </div>

    </div>
  </div>
</div>

{% endblock %}
