{% load static %}
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Toys Rent</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat Alternates" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="{% static 'css/app.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/pengiriman.css' %}" rel="stylesheet" />
  <link href="{% static 'css/review-barang.css' %}" rel="stylesheet" />

  <link href="{% static 'css/pesanan.css' %}" rel="stylesheet" />
  <script src="{% static 'js/pesanan.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 mb-3 box-shadow border-bottom">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Toys Rent</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      {% if request.session.no_ktp %}
      {% if request.session.is_admin %}
      <span>
        <a class="p-2 text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Item
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/item/">Daftar Item</a>
          <a class="dropdown-item" href="/item/create/">Tambah Item</a>
        </div>
      </span>
      <span>
        <a class="p-2 text-dark dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Barang
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item" href="/barang/">Daftar Barang</a>
          <a class="dropdown-item" href="/barang/add/">Tambah Barang</a>
        </div>
      </span>
      {% else %}
      <a class="p-2 text-dark" href="/item/">Daftar Item</a>
      <a class="p-2 text-dark" href="/barang/">Barang</a>
      {% endif %}
      <a class="p-2 text-dark" href="/chat/">Chat</a>
      <span>
        <a class="p-2 text-dark dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Pengiriman
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item" href="/pengiriman/create/">Buat Pengiriman</a>
          <a class="dropdown-item" href="/pengiriman/">Daftar Pengiriman</a>
        </div>
        <a class="p-2 text-dark" href="/review-barang">Review</a>
      </span>
      {% endif %}
    </nav>
    {% if request.session.no_ktp %}
    <a class="btn btn-outline-info mr-md-3" href="/user/profile">Profile</a>
    <a class="btn btn-danger" href="/user/logout">Logout</a>
    {% else %}
    <a class="btn btn-outline-info mr-md-3" href="/user/register">Register</a>
    <a class="btn btn-info" href="/user/login">Login</a>
    {% endif %}
  </div>
  {% block content %} {% endblock %}
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/pengiriman.js' %}"></script>
<script src="{% static 'js/chat.js' %}"></script>
<script src="{% static 'js/review-barang.js' %}"></script>
<script src="{% static 'js/barang.js' %}"></script>
<script src="{% static 'js/user.js' %}"></script>
<script src="{% static 'js/item.js' %}"></script>
<script src="{% static 'js/pesanan.js' %}"></script>

</html>