{% extends 'base.html' %} {% load static %} {% block content %}
<link href="{% static 'css/chat.css' %}" rel="stylesheet" />

<div class="container">
  <h1>Chat</h1>
  <form action="/chat/" method="POST">
    <div class="row">
      <div class="col-sm-4">
        <div class="list-group">
          {% for key, value in chat.items %}
          <div
            onclick="show_chat('{{ forloop.counter }}', '{{ key }}')"
            class="clickable list-group-item chat-button chat-button-{{ forloop.counter }}"
          >
            {{ value.0 }}
          </div>
          {% endfor %}
        </div>
      </div>
        <div class="col-sm-5">
          <div id="chat-panel"></div>
          <div class="row" style="width:100%;">
              <input name="to" id="chat_to" class="hidden"/>
              {% csrf_token %}
              <div class="col-sm-10">
                <input name="message" class="form-control" placeholder="Write a message.." />
              </div>
              <div class="col-sm-2">
                <input type="submit" class="btn btn-primary" value="Send">
              </div>
          </div>
        </div>
    </div>
  </form>
</div>

{% for key, value in chat.items %}
<div class="hidden" id="chat-{{ forloop.counter }}">
  {% for messages in value.1 %} {% if messages.is_from_admin %}
  <b class="chat-admin">{{ messages.from }} </b>
  {% else %}
  <b class="chat-non-admin">{{ messages.from }}</b>
  {% endif %}
  <span>({{ messages.date_time }}) :</span>
  {{ messages.message }}
  <br />
  {% endfor %}
</div>
  {% endfor %}
 {% endblock %}
