{% extends 'base.html' %} {% load static %} {% block content %}
    <div class="container center">
        <h1>List Item</h1>
        <div style="display: flex; flex-direction: row; margin-bottom: 20px;">
            {% if search_kategori %}
                <a href="/item/">X</a>
            {% endif %}
            <input type="text" id="search_kategori" class="form-control" style="width: 200px; margin-left: 10px;" placeholder="Cari kategori ..." value="{{search_kategori}}"/>
            <button type="submit" class="btn btn-xs btn-primary" onclick="searchByKategori()">Search</button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">
                        Nama Item
                        <a class="btn" href="/item/?page={{ page }}&kategori={{search_kategori}}&order=DESC">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <a class="btn" href="/item/?page={{ page }}&kategori={{search_kategori}}&order=ASC">
                            <i class="fas fa-angle-up" aria-hidden="true"></i>
                        </a>
                    </th>
                    <th scope="col">Kategori</th>
                    <th scope="col">Action</th>
                    {% if is_admin %}
                    <th scope="col">Edit</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ item.nama }}</td>
                    <td>
                        {% for kategori in item.kategori %}
                        {{ kategori }}, 
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-info" href="/barang/?nama={{item.nama}}">
                            Lihat Barang
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </a>
                    </td>
                    {% if is_admin %}
                    <td>
                        <a class="btn btn-warning" href="/item/edit/?nama={{item.nama}}">
                            Update
                            <i class="fas fa-edit" aria-hidden="true"></i>
                        </a>
                        <button class="btn btn-danger" onclick="deleteItem('{{ item.nama }}')" data-toggle="modal" data-target="#itemModal">
                            Delete
                            <i class="fas fa-trash" aria-hidden="true"></i>
                        </button>
                        <a class="btn btn-primary" href="/barang/add/">
                            Tambah Barang
                            <i class="fas fa-plus" aria-hidden="true"></i>
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul class="pagination justify-content-end" >
            <li class="page-item {% if page == 1 %} disabled {% endif %}"> 
                <a class="page-link" href="/item/?page={{ page|add:'-1' }}&kategori={{search_kategori}}&order={{order}}">Prev</a> 
            </li>
            {% for i in pages %}
                <li class="page-item {% if i == page %} active {% endif %}">
                    <a class="page-link" href="/item/?page={{ i }}&kategori={{search_kategori}}&order={{order}}">{{i}}</a>
                </li>
            {% endfor %}
            <li class="page-item {% if page == pages|length %} disabled {% endif %}"> 
                <a class="page-link" href="/item/?page={{ page|add:'1' }}&kategori={{search_kategori}}&order={{order}}">Next</a> 
            </li>
        </ul>
    </div>
    <div class="modal" id="itemModal">
        <div class="modal-dialog">
            <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Konfirmasi</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <!-- Modal body -->
            <div class="modal-body">
                Apakah anda yakin ingin menghapus data ini?
            </div>
        
            <div class="modal-footer">
            <!-- Modal footer -->
                {% csrf_token %}
                <form action="/item/delete/" method="POST">
                <input type="hidden" value="" id="deleteItem" name="nama"/>
                <input type="submit" class="btn btn-danger" value="Iya"/>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                </form>
            </div>
        
            </div>
        </div>
    </div>
{% endblock %}