{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container center py-5">
  <div class="row">
    <div class="mx-auto col-lg-6 col-10">
      <h1>{{ edit|yesno:"Edit, Create" }} Item</h1>
      <form class="text-left"  method="POST"
        {% if edit %}
          action="/item/edit/"
        {% else %}
          action="/item/create/"
        {% endif %}
        >
        {% csrf_token %}
        <div class="form-group"> 
          <label for="form1">Nama</label> 
          <input type="text" name="nama" class="form-control" placeholder="Mahkota Princess Merk X" value="{{ item.nama }}"
            {% if edit %} readonly {% endif %}
          > 
          <div style="color: red;">{{ error.nama }}</div>
        </div>
        <div class="form-group"> 
          <label for="form2">Deskripsi</label> 
          <input type="text" name="deskripsi" class="form-control" placeholder="Mahkota mainan" value="{{ item.deskripsi }}"> 
        </div>
        <div class="form-group"> 
          <label class="form-label">Rentang Usia</label> 
          <div class="form-row">
            <label class="col-form-label"><small>Dari (Tahun):</small></label> 
            <input type="number" name="usia_dari" class="form-control col" placeholder="5" value="{{ item.usia_dari }}"> 
            <label class="col-form-label"><small>Sampai (Tahun):</small></label> 
            <input type="number" name="usia_sampai" class="form-control col" placeholder="10" value="{{ item.usia_sampai }}"> 
          </div>
          <div style="color: red;">{{ error.usia }}</div>
        </div>
        <div class="form-group"> 
          <label for="form4">Bahan</label> 
          <input type="text" name="bahan" class="form-control" placeholder="Plastik"> 
        </div>
        <div class="form-group"> 
          <label for="form5">Kategori</label> 
          <select multiple name="nama_kategori" class="multi-select form-control">
              {% for kategori in list_kategori %}
              <option {% if kategori.nama in item.kategoris %} selected {% endif %} value="{{kategori.nama}}">
                {{kategori.nama}}
              </option>
              {% endfor %}
          </select>
          <small class="form-text text-muted">Ctrl+click or Shift+click for multiple select</small>
        </div>
        <button type="submit" class="btn btn-primary">{{ edit|yesno:"Edit, Create" }}</button>
    </div>
  </div>
</div>
{% endblock %}