{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container center py-5">
  <div class="row">
    <div class="mx-auto col-lg-6 col-10">
      <h1>Register</h1>
      <div class="list-group list-group-horizontal">
        <div
          onclick="show_register('admin')"
          class="clickable list-group-item register-button register-button-admin"
        >
        <b>Admin</b>
        </div>
        <div
          onclick="show_register('anggota')"
          class="clickable list-group-item register-button register-button-anggota"
        >
          <b>Anggota</b>
        </div>
      </div>
      <form class="text-left" action="/user/register/" method="POST">
        {% csrf_token %}
        <input type="hidden" id="tipe" name="tipe" value="admin">
        <div class="form-group"> 
          <label for="form1">No Ktp</label> 
          <input type="text" name="no_ktp" class="form-control" id="form1" placeholder="37000012131313">
          <div style="color: red;">{{ error.no_ktp }}</div>
        </div>
        <div class="form-group"> 
          <label for="form2">Nama Lengkap</label> 
          <input type="text" name="nama_lengkap" class="form-control" id="form2" placeholder="Indra VB 6"> 
          <div style="color: red;">{{ error.nama_lengkap }}</div>
        </div>
        <div class="form-group"> 
          <label for="form3">Email</label> 
          <input type="email" name="email" class="form-control" id="form3" placeholder="mindrar@gmail.com"> 
          <div style="color: red;">{{ error.email }}</div>
        </div>
        <div class="form-group"> 
          <label for="form4">Tanggal Lahir</label> 
          <input type="date" name="tanggal_lahir" class="form-control" id="form4" placeholder="01-01-0001"> 
        </div>
        <div class="form-group"> 
          <label for="form5">Nomor Telepon</label> 
          <input type="text" name="no_telp" class="form-control" id="form5" placeholder="0812345678"> 
        </div>
        <div class="form-group anggota-only"> 
          <label for="form5">Alamat</label> 
          <div class="form-row">
            <div class="col-3">
              <select class="custom-select mr-sm-2" name="nama_alamat">
                <option value="Rumah">Rumah</option>
                <option value="Kantor">Kantor</option>
              </select>
            </div>
            <div class="col">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Jl.</div>
                </div>
                <input type="text" name="jalan" class="form-control" placeholder="Street name"> 
              </div>
            </div>
            <div class="col-3">
              <input type="number" name="nomor" class="form-control" placeholder="Number">
            </div>
          </div>
          <div class="form-row">
            <div class="col-3">
              <input type="text" name="kota" class="form-control" placeholder="City">
            </div>
            <div class="col-3">
              <input type="text" name="kodepos" class="form-control" placeholder="Post code">
            </div>
          </div>
          <div style="color: red;">{{ error.alamat }}</div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </div>
</div>
{% endblock %}