{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container py-5" >
    <div class="row blockquote ">
        <div class="ml-auto p-3 col-md-2 bg-white text-center">
            <i class="fas fa-user fa-5x"></i>
            {% if user.is_admin %}
                <p>Admin</p>
            {% else %}
                <p>Anggota</p>
            {% endif %}
        </div>
        <div class="p-3 col-md-7 mr-auto bg-white text-dark">
            <div class="mb-0">
                <h6>No Ktp:</h6><p>{{ user.no_ktp }}</p>
                <h6>Nama Lengkap:</h6><p>{{ user.nama_lengkap }}</p>
                <h6>Email:</h6><p>{{ user.email }}</p>
                <h6>Tanggal Lahir:</h6><p>{{ user.tanggal_lahir }}</p>
                <h6>Nomor Telepon:</h6><p>{{ user.no_telp }}</p>
                {% if not user.is_admin %}
                    <h6>Alamat:</h6>
                    <ul>
                        {% for alamat in user.alamats %}
                        <li><p>{{ alamat }}</p></li>
                        {% endfor %}
                    </ul>
                    <h6>Level Keanggotaan:</h6><p>{{ user.level }}</p>
                    <h6>Nomor Poin:</h6><p>{{ user.poin }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}