{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container center py-5">
  <div class="row">
    <div class="mx-auto col-lg-6 col-10">
      <h1>Login</h1>
      <form class="text-left" action='/user/login/' method='POST'>
        {% csrf_token %}
        <div class="form-group"> 
          <label for="form1">No Ktp</label> 
          <input type="text" name='no_ktp' class="form-control" id="form1" value="08301252739722567087 (admin) / 54368352265519664000 (anggota)"> 
        </div>
        <div class="form-group"> 
          <label for="form3">Email</label> 
          <input type="email" name='email' class="form-control" id="form3" value="wbumford6@weibo.com / mslessor0@weibo.com"> 
        </div>
        <button type="submit" class="btn btn-primary">Login</button>

        <div style="color: red;">{{ error }}</div>
    </div>
  </div>
</div>
{% endblock %}